p{
    margin: 0;
}

a{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.desktop-top{
    width: 50%;
    height: 30px;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    padding-top: 20px;
    float: right;
    margin-right: 20px;
    border-radius: 10px;
}

.desktop-top-nav-bar{
    width: 100%;
    padding-top: 25px;
}
